
.form-control1 {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form-fields {
    color: black;
    font-size: 1.2em;
  }
  
  .required:after {
    content: " *";
    color: red;
  }