h2{
    margin: 20px 0px;
}
.form{
    padding: 10px 0px;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; 
    cursor: pointer; 
}
.form-control1 {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form-fields1 {
    color: white;
    font-size: 1.2em;
  }
  
  .required:after {
    content: " *";
    color: red;
  }
  
.container2{
    margin: 10px;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 5px;
    padding-bottom: 5px;
}

.question{
    margin-left: 3vw;
    font-size: 16px;
    font-weight: 500;
}
  
.options{
    display: flex;
    justify-content: space-around;
}

.sos{
  position: fixed;
  top: 92vh;
  left: 42%;
  z-index: 2;
  box-shadow: 0px 5px 8px #888888;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(177, 2, 46);
  color: aliceblue;
}

.paths{
  display: flex;
  justify-content: space-around ;
  flex-wrap: wrap;
  position: fixed;
  top: 75vh
}

.routebox{
  margin-right: 5px;
  border-radius: 5px;
  /* width: 30%; */
  text-align: center;
}